/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el header y la navegación */
header {
    background-color: #3f3d05;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Estilos para las secciones */
section {
    padding: 60px 20px;
    margin: 20px 0;
    background-color: white;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

footer {
    background-color: #f47777;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Diseño responsive */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 8px 16px;
    }
}
