/* Estilos base */
body {
    background: rgb(255, 254, 253);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 30px; 
    margin-top: 20px;
    padding: 20px;
    flex-direction: row; 
}

/* Estilo del mapa */
.mapadiv {
    width: 50%; 
    max-width: 500px; 
    flex-shrink: 0; 
    background-color: #ffffff;
    order: 1 /* Fondo blanco */
}

/* Contenedor de los botones */
#botones-departamentos {
    display: flex;
    flex-direction: column; /* Botones en columna */
    gap: 12px; /* Espacio entre botones */
    padding: 20px;
    background: #f8f4f2;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    max-width: 250px; /* Ancho máximo de los botones */
    flex-shrink: 0; /* Evita que los botones se encojan */
}

/* Estilo base para los botones */
.departamento-btn {
    width: 100%; /* Ancho completo */
    padding: 12px 15px;
    border: none;
    background-color: #e6dad3;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 8px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;

    order: 2;
}


.departamento-btn.highlight {
    background-color: #afa7ae; 
}


.departamento-btn:hover {
    transform: scale(1.05);
}

/* Colores al pasar el mouse */
.departamento-btn.red:hover {
    background-color: red;
}

.departamento-btn.yellow:hover {
    background-color: yellow;
}

.departamento-btn.green:hover {
    background-color: green;
}

/* Estilo base para los paths del mapa */
.mapadiv path {
    fill: #f7f7f7; 
    stroke: #5d358b;
    stroke-width: 5px;
    transition: fill 0.3s ease;
}

/* Estilo cuando un path está resaltado */
.mapadiv path.highlight {
    fill: #800000 !important;
}

/* Colores específicos para el mapa */
#BOL.highlight, #BOO.highlight, #BON.highlight {
    fill: red !important; /* Rojo para La Paz, Oruro, Pando */
}

#BOP.highlight, #BOB.highlight, #BOC.highlight {
    fill: yellow !important; /* Amarillo para Potosí, Beni, Cochabamba */
}

#BOS.highlight, #BOH.highlight, #BOT.highlight {
    fill: green !important; /* Verde para Santa Cruz, Chuquisaca, Tarija */
}